.FileTreeContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.FileTreeItem {
  /*ボタンのデザインを初期化*/
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 1.5rem;
  user-select: none;
  text-align: left;
  padding: 0;
  white-space: nowrap;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.FileTreeItem:hover {
  background-color: var(--white-110);
}

.FileTreeItem svg {
  flex-shrink: 0;
}

.FileItem {
  list-style: none;
}

.FolderRoot {
  list-style: none;
  padding: 0;
  padding-left: 7px;
  margin: 0;
  margin-left: 7px;
}

.FolderItem {
  list-style: none;
  padding: 0;
  padding-left: 7px;
  margin: 0;
  margin-left: 7px;
  border-left: 1px black solid;
}
