.FileTreeContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.FileTreeItem {
  /*ボタンのデザインを初期化*/
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 1.5rem;
  user-select: none;
}
