.Container {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: row;
}

.IconArea {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-110);
  align-items: center;
  justify-items: center;
}

.IconButton {
  background: none;
  border: none;
  outline: none;
  padding: 2px;
  margin-top: 10px;
  border-radius: 5px;
}
.IconButton:hover {
  background-color: var(--white-130);
}

.ContentArea {
  flex: 1;
  height: 100%;
  background-color: var(--white-100);
}

.MenuBorderLine {
  height: 100%;
  width: 5px;
  background-color: var(--white-110);
}
.MenuBorderLine:hover {
  background-color: skyblue;
  cursor: col-resize;
}
