@font-face {
    font-family: "Noto-Sans-JP";
    src: url("../src/assets/fonts/NotoSans.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../src/assets/fonts/Inter.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", "Noto-Sans-JP", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --sky-blue-50: #eeffff;
  --sky-blue-100: #ebfeff;
  --sky-blue-200: #e8fcff;
  --sky-blue-300: #d8faff;
  --sky-blue-400: #d4f6fd;
  --sky-blue-500: #cdeff6;
  --sky-blue-600: #b5ebf7;
  --sky-blue-700: #ace2ee;
  --sky-blue-800: #6cd9ef;
  --sky-blue-900: #7ed0e0;
  --sky-blue-1000: #6ec0d0;
  --sky-blue-1100: #5db0c0;
  --sky-blue-1200: #2aa1b6;
  --sky-blue-1300: #1e91a5;
  --sky-blue-1400: #008598;
  --sky-blue-1500: #0c7888;
  --sky-blue-1600: #006879;
  --sky-blue-1700: #005968;
  --sky-blue-1800: #004c5a;
  --sky-blue-1900: #003f4d;
}