@font-face {
  font-family: 'Noto-Sans-JP';
  src: url('../src/assets/fonts/NotoSans.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', 'Noto-Sans-JP', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white-10: #ffffff;
  --white-20: #fafafa;
  --white-30: #f7f7f7;
  --white-40: #f3f3f3;
  --white-50: #eeeeee;
  --white-60: #e7e7e7;
  --white-70: #dedede;
  --white-80: #d3d3d3;
  --white-90: #c5c5c5;
  --white-100: #afafaf;
  --white-110: #919191;
  --white-120: #797979;
  --white-130: #686868;
  --white-140: #5b5b5b;
  --white-150: #525252;
  --white-160: #4a4a4a;
  --white-170: #414141;
  --white-180: #3a3a3a;
  --white-190: #343434;
  --white-200: #292929;
}
